body {
    background-color: #b8f8bb;
    font-family: Arial, sans-serif;
}

h1 {
    color: #033d0d;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    background-color: #7abf75;
    border-radius: 8px;
    
}

label {
    color: #000000;
    font-weight: bold;
}

